body{
    margin: 0;
    font-family: 'JetBrains Mono', monospace;

}

.header{
    width: auto;
    height: 60px;
    background-color: #879F40;
    margin: 0;
}

.nav{
    width: 60x;
    height: 100px;
    display: flex;
}
.logo{
    width: 60px;

}

header a{
    color: blanchedalmond;
    text-decoration: none;
}

.menu{
    display: flex;
    list-style-type: none;
}

.menu li{
    margin-right: 40px;
    margin-left: 0;
    font-size: 25px;
}

.cont{
    margin-left: auto;
    margin-right: 30px;
    margin-top: 16px;
    font-size: 27px;
}

.body{
    width: auto;
    height: 370px;
    flex-shrink: 0;
    background-color: #EFBD98;
}

.list{
    width: 310px;
    height: 370px;
    flex-shrink: 0;

    border-radius: 155px 0px;
    background-color: #C0BE7F;
}

.list h1{
    margin: 0;
    text-align: center;
    line-height: 155px;
}