body{
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #141B44;;

}

header{
    align-items: center;
    display: flex;
}


.nav ul{
    list-style: none;
    display: flex;
    text-align: left;
    position: absolute;
    right: 0;

}

.nav li{
    margin-right: 43px;
}

.nav li a{
    color: #AEAEAE;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.myname{
    color: #AEAEAE;
    font-size: 50px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 70px;
    margin-top: 40px;
}

.sname{
    margin-left: 44px;
}

.name{
    margin-left: 409px;
}

.moon img{
    height: 837px;
    position: absolute;
    top: 186px;
}

.moon{
    top: 0px;
}

header h1{
    margin-top: 35px;
    margin-bottom: 38px;
}

.hitext{
    color: #AEAEAE;
    text-align: center;
    font-family: JetBrains Mono;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 832px;
    height: 262px;
    margin-left: 700px;

}